# Android & Gradle
.gradle/
build/
app/build/
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.aab

# IDE
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml

# Backend / Python / Executables
backend/.venv/
backend/.env
backend/cloudflared.exe
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
*.pyc
.pytest_cache/
